:root {
    --text__bold: #1f2471;
    --text__light: #5c6390; 
    --text__hover: #000;   
    --bgr__key: #3D3D3D;
    --bgr__hover: rgb(211, 116, 116);
    --slidebar: 240px;
    --section: 330px;
    --body: calc(100% - (var(--slidebar) + var(--section)));
    --nav: 30px;
    --header: 60px;
    --mscroll: calc(var(--header) + var(--nav));
}

/* reset  */
* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;;
    font-size: 62.5%;
    line-height: 1.6;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

input,
button {
    outline: none;
    border: none;
    font-size: 1.4rem;
}

a {
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

/* reset  */

/* base  */
.btn {
    border-radius: 4px;
    padding: 5px 10px;
    background-size: 200%;
    color: #000;
    transition: all 0.5s;
    cursor: pointer;
}

.btn:hover {
    /* background: red; */
}

.btn.btn--primary {
    background: #fff;
}

.btn.btn--primary:hover {
    background: var(--bgr__hover);
}
/* base  */

.root {
    font-size: 1.4rem;
}

/* layout  */
.root__body {
    display: flex;
    height: 100vh;
}

.root__sildebar {
    width: var(--slidebar);
    position: relative;
    height: 100%;
    margin-top: var(--mscroll);
    background: #231B2E;
}

.root__content-block {
    flex-grow: 1;
    position: relative;
    margin-top: var(--mscroll);
    width: var(--body);
    background: #170F23;
    min-height: 100%;
    margin-right: var(--section);
}

.root__content {
    position: relative;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding: 60px 0 100px 0;
}

.root__content::-webkit-scrollbar-track {
    background-color: #170F23;
}

.root__content::-webkit-scrollbar {
    width: 4px;
    border-radius: 4px;
} 

.root__content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.root__section {
    width: var(--section);
    background: #170F23;
    position: absolute;
    top: var(--mscroll);
    right: 0;
    bottom: 0;
    height: 100vh;
}

/* layout  */

.root__header-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--mscroll);
}

/* nav  */
.root__nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: var(--nav);
}

.root__nav-bread {
    font-size: 1.4rem;
}

.root__nav-list {
    display: flex;
    align-items: center;
}

.root__nav-item {
    
}

.root__nav-link {
    display: block;
    padding: 5px 10px;
    font-size: 1.4rem;
    text-decoration: none;
    color: #000;
}

.root__nav-link:hover {
    text-decoration: underline;
}

/* nav  */

/* header  */
.root__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header);
    padding: 0 40px;
    background: var(--bgr__key);
}

.root__header-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.root__header-logo {
    width: 200px;
    height: 100%;
}

.root__header-logo-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.root__header-search {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 20px;
}

.root__header-search-input {
    width: 500px;
    height: 100%;
    font-size: 1.4rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 20px;
}

.root__header-search-btn {
    width: 100px;
    height: 100%;
    font-size: 1.5rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.root__header-ac {
    
}

.root__header-ac-on {
    
}

.root__header-ac-btn:first-child {
    margin-right: 20px;
}

.root__header-ac-btn span{
    color: #fff;
    font-size: 1.5rem;
}

.root__header-ac-btn:hover span{
    text-decoration: underline;
}

.root__header-ac-btn i {
    color: #fff;
    font-size: 2rem;
    margin-right: 5px;
}
/* header  */

/* footer  */
.root__footer-block {
    padding: 50px 0 40px 0;
    background: var(--bgr__key);
}

.root__footer {
}

.root__footer-box {

}

.root__footer-box-item-block.single {
    /* display: flex; */
}

.root__footer-box-item {
    position: relative;
    display: block;
}

.root__footer-box-item::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: rgba(170, 156, 156, 0.5);
}

.root__footer-box-item:hover.root__footer-box-item::before {
    background: rgba(170, 156, 156, 0.8);
    transition: all 0.5s;
}

.root__footer-box-item.mb {
    margin-bottom: 24px;
}

.root__footer-box-item-title {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
}

.root__footer-box-item:hover .root__footer-box-item-title {
    color: var(--text__hover);
}

.root__footer-box-item-media {
    height: 200px;
    width: 100%;
}

.root__footer-box-item-media-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.root__footer-box-key-block {
    
}

.root__footer-box-key {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 20px;
    border: 1px solid #fff;
}

.root__footer-box-key-logo {
    height: 100px;
    width: 100%;
}

.root__footer-box-key-logo-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.root__footer-box-key-desc {
    color: #fff;
    font-size: 1.4rem;
}

.root__footer-box-key-desc a {
    color: #fff;
    font-size: 1.4rem;
}

.root__footer-box-key-desc a:hover {
    color: var(--text__hover);
}

.root__footer-box-key-end {
    color: #fff;
    font-size: 1.4rem;
}

.root__footer>hr {
    margin: 20px 0;
}

.root__footer-end {
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
}

.root__footer-end a {
    font-size: 1.4rem;
    color: #fff;
}

.root__footer-end a:hover {
    color: var(--text__hover);
}
/* footer  */

/* menu  */
.root__sildebar-menu {

}

.root__sildebar-menu-list {

}

.root__sildebar-menu-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.root__sildebar-menu-link i {
    margin-right: 5px;
}

.root__sildebar-menu-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    position: relative;
    border-left: 3px solid transparent;
}

.root__sildebar-menu-link.active {
    background: rgba(255, 255, 255, 0.1);
    border-left: 3px solid #7200a1;
}

/* menu  */


